@use "@/assets/styles/mixins" as mixin;

.list {
  background-color: white;
  border-radius: var(--border-radius);
  border: var(--border);
  flex: 0 0 200px;
  @include mixin.xs {
    flex: 0 0 auto;
    margin-bottom: 20px;
  }
  padding: 20px;
  a {
    padding: 5px;
  }
  margin-right: 20px;
}

.active {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border-radius: var(--border-radius);
  transition: color 0.3s background-color 0.3s;
}
