@use "@/assets/styles/mixins" as mixin;

.list {
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border);
  flex: 1 1 auto;
  li {
    padding: 15px 0;
    border-bottom: var(--border);
    @include mixin.xs {
      flex-direction: column;
      * {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

.category {
  margin-left: 10px;
  font-size: 10px;
}
