.recipeForm {
  width: 100%;
  max-width: 500px;
}

.selectCategory {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 6px;
  background-color: var(--white);
  margin-top: 10px;
}
