@use "@/assets/styles/mixins" as mixin;

.imageContainer {
  position: relative;
  display: inline-block;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.modal {
  display: flex;
  flex-direction: row;
  gap: 16px;
  @include mixin.xs {
    flex-direction: column;
    align-items: center;
  }
}

.likeIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
  z-index: 1;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: var(--primary);
  }
  &.liked {
    color: var(--primary);
  }
}

.content {
  display: flex;
  flex-direction: column;
}
