.recipe {
  position: relative;
  border-radius: 20px;
  height: 400px;
  cursor: pointer;
  > i,
  > span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
    transition: color 0.2s;
    z-index: 1;
    cursor: pointer;
    &:hover {
      color: var(--red-1);
    }
  }
  .likeIcon {
    left: 10px;
    right: auto;
    font-size: 20px;
    &:hover {
      color: var(--primary);
    }
  }
  .deleteIcon {
    font-size: 20px;
    &:hover {
      color: var(--red-1);
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .recipeTitle {
      color: var(--primary);
    }
  }
  .liked {
    color: var(--primary);
  }
}

.imageContainer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  height: 300px;
  img {
    transition: 1s transform;
    width: 100%;
  }
}

.recipeTitle {
  height: 100px;
  transition: 0.2s color;
  border: 1px solid var(--gray-2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
