.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-danger {
  background-color: var(--red-1);
  color: white;
  border: 2px solid var(--red-1);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

input {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 6px;
  margin-top: 10px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.form-error {
  margin: 0;
  color: var(--red-1);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}
